# dev | prod | staging 
MODE=dev
PORT=3000
HOST=localhost

ALLOWED_ORIGINS_DEV=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000

DB_HOST=127.0.0.1
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=siakad_ponpes
DB_PORT=5432
JWT_SECRET=6QRD/BjZz9f8cO0bLOA5/XZqJcADZVXKI8fvnL+dnM8K76e1DMTX9PawlbaCRfvP

